[include eddy_setup_wizard.cfg]

[include eddy_macros.cfg]

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_45474E621A8575FA-if00 # This is the serial address of your eddy probe. This can be found by using the terminal of your klipper instance (typically through SSH) and using the command ```ls /dev/serial/by-id``` 
restart_method: command

[temperature_sensor eddy]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 100 # Sets the maximum tempereature for eddys tempereature sensor to operate

[probe_eddy_current eddy]
sensor_type: ldc1612
#z_offset: 2.1
#   The sensor chip used to perform eddy current measurements. This
#   parameter must be provided and must be set to ldc1612.
#frequency:
#   The external crystal frequency (in Hz) of the LDC1612 chip.
#   The default is 12000000.
#intb_pin:
#   MCU gpio pin connected to the ldc1612 sensor's INTB pin (if
#   available). The default is to not use the INTB pin.
descend_z: 0.5
#   The nominal distance (in mm) between the nozzle and bed that a
#   probing attempt should stop at. This parameter must be provided.
#i2c_address:
#i2c_mcu: EBBCan
#i2c_bus: i2c0f
#i2c_software_scl_pin: EBBCan:PB3
#i2c_software_sda_pin: EBBCan:PB4
#i2c_speed:
#   The i2c settings for the sensor chip. See the "common I2C
#   settings" section for a description of the above parameters.
x_offset: 0.0          
y_offset: 21.42
#   The distance (in mm) between the probe and the nozzle along the
#   x and y axes. The default is 0.
#speed:
#lift_speed:
#samples:
#sample_retract_dist:
#samples_result:
#samples_tolerance:
#samples_tolerance_retries:
#   See the "probe" section for information on these parameters. Note
#   that the settings here apply only to regular probe commands. These
#   settings do not have an effect if using a probe "METHOD" of
#   "scan", "rapid_scan", or "tap".
#tap_threshold: 4000
#   Noise cutoff/stop trigger threshold (in Hz). Specify this value to
#   enable support for "METHOD=tap" probe commands. See Eddy_Probe.md
#   for more information. Larger values make the tap detection less
#   sensitive. That is, larger values make it less likely the toolhead
#   will incorrectly stop early due to noise, while increasing the
#   risk of the toolhead not correctly stopping when it first contacts
#   the bed. If this value is specified then one may override its
#   value at run-time using the "TAP_THRESHOLD" parameter on probe
#   commands. The default is to not enable support for "tap" probing.
#tap_z_offset: -0.120
#   The Z height (in mm) of the nozzle relative to the bed at the
#   contact point detected during "tap" probing. Nominally this would
#   be 0.0 to indicate the contact point has zero distance, but one
#   may set this to account for backlash, thermal expansion, a
#   systemic probing bias, or similar. The default is zero.
#sample_retract_dist: 4
i2c_mcu: eddy  # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the MCU you have used.
i2c_bus: i2c0f # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the I2C bus you have used

[temperature_probe eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
#min_temp: 0
#max_temp: 95
#   Temperature sensor configuration.
#   See the "extruder" section for the definition of the above
#   parameters.
#smooth_time:
#   A time value (in seconds) over which temperature measurements will
#   be smoothed to reduce the impact of measurement noise. The default
#   is 2.0 seconds.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.
#speed:
#   The travel speed [mm/s] for xy moves during calibration.  Default
#   is the speed defined by the probe.
##horizontal_move_z: 2.5
#   The z distance [mm] from the bed at which xy moves will occur
#   during calibration. Default is 2mm.
##resting_z: 2
#   The z distance [mm] from the bed at which the tool will rest
#   to heat the probe coil during calibration.  Default is .4mm
calibration_position: 117.5, 117.5, 5
#   The X, Y, Z position where the tool should be moved when
#   probe drift calibration initializes.  This is the location
#   where the first manual probe will occur.  If omitted, the
#   default behavior is not to move the tool prior to the first
#   manual probe.
calibration_bed_temp: 95
#   The maximum safe bed temperature (in C) used to heat the probe
#   during probe drift calibration.  When set, the calibration
#   procedure will turn on the bed after the first sample is
#   taken.  When the calibration procedure is complete the bed
#   temperature will be set to zero.  When omitted the default
#   behavior is not to set the bed temperature.
calibration_extruder_temp: 150
#   The extruder temperature (in C) set probe during drift calibration.
#   When this option is supplied the procedure will wait for until the
#   specified temperature is reached before requesting the first manual
#   probe.  When the calibration procedure is complete the extruder
#   temperature will be set to 0.  When omitted the default behavior is
#   not to set the extruder temperature.
extruder_heating_z: 10.
#   The Z location where extruder heating will occur if the
#   "calibration_extruder_temp" option is set.  Its recommended to heat
#   the extruder some distance from the bed to minimize its impact on
#   the probe coil temperature.  The default is 50.
max_validation_temp: 100.
#   The maximum temperature used to validate the calibration.  It is
#   recommended to set this to a value between 100 and 120 for enclosed
#   printers.  The default is 60.

[bed_mesh]
horizontal_move_z: 1
speed: 200
# For the mesh dimensions below, the coordinates need to be reachable by the center of the probe. To calculate coordinates that will work, use the formula below:
# mesh x min = position_min_x + greater_of (15mm or x_offset) <--- in this term, only consider the x offset if it is positive, ignore if negative.
# mesh y min = position_min_y + greater_of (15mm or y_offset) <--- in this term, only consider the y offset if it is positive, ignore if negative.
# mesh x max = position_max_x - greater_of (15mm or |x_offset|) <--- in this term, only consider the x offset if it is negative, ignore if positive.
# mesh y max = position_max_y - greater_of (15mm or |y_offset|) <--- in this term, only consider the y offset if it is negative, ignore if positive.
# Example: Consider that you have a 300 x 300 bed with the max x and y positions being 300 and the min being 0. Your probe offsets are -20 for X and 10 for Y
# For mesh x min we ignore the x offset term because it is negative. Therefore mesh x min = 15
# For mesh y min we do not ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y min = 15
# For mesh x max we do not ignore the x offset term because it is negative. It is also greater than 15. Therefore mesh x max = 280
# For mesh y max we ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y max = 285
# The final result would be mesh_min: 15, 15 mesh_max: 280, 285
mesh_min: 10, 20 #15, 23  # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 225, 225 #335, 335 # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 7, 7
zero_reference_position: 117.5, 117.5
mesh_pps: 3,3
algorithm: bicubic
scan_overshoot: 8  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.
adaptive_margin: 5
fade_start: 1
fade_end: 10
fade_target: 0

# # Uncomment this if you are using Eddy as the probe AND the homing endstop
# [safe_z_home]
# home_xy_position: 177.5, 177.5 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.
# z_hop: 5
# z_hop_speed: 5
# speed: 200

[homing_override]
gcode:
  STATUS_HOMING
  G91                          # set relative positioning
  G0 Z5 F1000                  # 5 up zhop
  {% if not rawparams or 'X' in rawparams|upper %}
    G28 X
    G90                        # set absolute positioning
    G0 X117.5 F6000  
    M400
  {% endif %}
  {% if not rawparams or 'Y' in rawparams|upper %}
    G28 Y
    G90                        # set absolute positioning
    G0 Y117.5 F6000
    M400
  {% endif %}
  {% if not rawparams or 'Z' in rawparams|upper %}
    G90                        # set absolute positioning
    G0 X117.5 Y117.5 F6000
    G28 Z             
    G91
    G0 Z5 F1000
  {% endif %}
  G90                          # set absolute positioning
  STATUS_READY
axes: xyz
set_position_z: 0

[z_tilt]
z_positions:
    -61, 117.5    # Left Z stepper position (stepper_z)
    296, 117.5    # Right Z stepper position (stepper_z1)
# A list of X, Y coordinates (one per line; subsequent lines
# indented) describing the location of each bed "pivot point". The
# "pivot point" is the point where the bed attaches to the given Z
# stepper. It is described using nozzle coordinates (the X, Y position
# of the nozzle if it could move directly above the point). The
# first entry corresponds to stepper_z, the second to stepper_z1,
# the third to stepper_z2, etc. This parameter must be provided.
points:
    32, 96.08     # Nozzle position for left bed screw (probe at X=32)
    202, 96.08    # Nozzle position for right edge (probe at X=202)
    #32, 10.58 #79.7, 31.6
    #202, 10.58 #249.7, 31.6
    #202, 182.58 #249.7, 203.6
    #32, 182.58 #79.7, 203.6
# A list of X, Y coordinates (one per line; subsequent lines
# indented) that should be probed during a Z_TILT_ADJUST command.
# Specify coordinates of the nozzle and be sure the probe is above
# the bed at the given nozzle coordinates. This parameter must be
# provided.
speed: 200
# The speed (in mm/s) of non-probing moves during the calibration.
# The default is 50.
horizontal_move_z: 2
# The height (in mm) that the head should be commanded to move to
# just prior to starting a probe operation. The default is 5.
retries: 10
# Number of times to retry if the probed points aren't within
# tolerance.
retry_tolerance: 0.12 #0.008
# If retries are enabled then retry if largest and smallest probed
# points differ more than retry_tolerance. Note the smallest unit of
# change here would be a single step. However if you are probing
# more points than steppers then you will likely have a fixed
# minimum value for the range of probed points which you can learn
# by observing command output.

[bed_screws]
screw1: 32, 32
screw2: 202, 32
screw3: 202, 204
screw4: 32, 204

[screws_tilt_adjust]
screw1: 32, 10.58 #79.7, 31.6
screw1_name: front left screw
screw2: 202, 10.58 #249.7, 31.6
screw2_name: front right screw
screw3: 202, 182.58 #249.7, 203.6
screw3_name: rear right screw
screw4: 32, 182.58 #79.7, 203.6
screw4_name: rear left screw
horizontal_move_z: 2 #7
speed: 200
screw_thread: CW-M4

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

